body {
    background-color: #263238;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#notes {
    line-height: 200%;
    color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 100;
    text-align:  justify;
    -webkit-text-size-adjust: 100%;
}

.flipped-vertically {
    transform: scaleY(-1);
}

.flipped-horizontally {
    transform: scaleX(-1);
}

.highlighted {
    color: #ffcb6b;
    font-weight: 900;
}

#message {
    visibility: hidden;
    min-width: 500px;
    margin-left: -250px; /* Divide value of min-width by 2 */
    background-color: #333;
    color: #fff;
    font-size: 50px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#message.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#actions {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: #000;
    color: #fff;
    font-size: 50pt;
    opacity: 0.85;
}

#upperLeft, #upperRight, #bottom {
    position: absolute;
    width: 50%;
    height: 50%;
    line-height: 100px;
    text-align: center;
    border: 1px solid #fff;
}

#upperLeft {
    top: 0;
    left: 0;
}

#upperRight {
    top: 0;
    right: 0;
}

#bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
}