<!DOCTYPE html>
<html>
<head>
    <title>Presenter Notes</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='NoSleep.min.js') }}"></script>
    <link href="{{ url_for('static', filename='toastr.min.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='toastr.min.js') }}"></script>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
</head>
<body>
    <div id="notes"></div>
    <div id="actions">
        <div id="upperLeft">Flip Vertically</div>
        <div id="upperRight">Flip Horizontally</div>
        <div id="bottom">Fullscreen & No Sleep</div>
    </div>
    <div id="message">Some text some message..</div>

    <script type="text/javascript">
        var noSleep = new NoSleep();
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var notesDiv = document.getElementById('notes')

        socket.on('new_notes', function(data) {
            notes = data.notes.replace(/\n/g, '<br />');
            notes = highlightFirstHalf(notes);
            
            notesDiv.innerHTML = notes;
            setMaxFontSize(notesDiv);
        });

        document.addEventListener('DOMContentLoaded', function() {
            window.addEventListener('resize', throttle(function() {
                setMaxFontSize(notesDiv);
            }, 100));

            notesDiv.addEventListener("click", executeAction);

            setTimeout(() => {
                document.getElementById('actions').style.display = 'none';
            }, 5000);
        });

        function executeAction(event) {
            const rect = notesDiv.getBoundingClientRect();
            
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;

            const halfWidth = rect.width / 2;
            const halfHeight = rect.height / 2;

            if (x < halfWidth && y < halfHeight) {
                notesDiv.classList.toggle('flipped-vertically');
            } else if (x >= halfWidth && y < halfHeight) {
                notesDiv.classList.toggle('flipped-horizontally');
            } else {
                toggleFullScreen();
            }
        }
        
        function highlightFirstHalf(htmlString) {
            const parser = new DOMParser();

            const doc = parser.parseFromString(htmlString, 'text/html');

            const textNodes = [];
            function collectTextNodes(node) {
                if (node.nodeType === 3) { // Text node
                    textNodes.push(node);
                } else {
                    node.childNodes.forEach(collectTextNodes);
                }
            }
            collectTextNodes(doc.body);

            textNodes.forEach(node => {
                const words = node.nodeValue.split(' ').map(word => {
                    const len = word.length;
                    const half = Math.floor(len / 2);
                    const firstHalf = word.substring(0, half);
                    const secondHalf = word.substring(half);
                    return `<span class="highlighted">${firstHalf}</span>${secondHalf}`;
                }).join(' ');

                const newHtml = document.createRange().createContextualFragment(words);
                node.replaceWith(newHtml);
            });

            return doc.body.innerHTML;
        }

        function setMaxFontSize(div) {
            div.style.fontSize = '1pt';

            let maxFontSize = 200;
            for (let fs = 1; fs <= maxFontSize; fs=fs+0.1) {
                div.style.fontSize = fs + "pt";

                if ((document.body.scrollHeight > window.innerHeight) || 
                    (document.body.scrollWidth > window.innerWidth)) {
                    div.style.fontSize = (fs - 0.1) + "pt";
                    break;
                }
            }
        }

        function toggleFullScreen() {
            if (noSleep.enabled === false) {
                noSleep.enable();
                showMessage('Device will not sleep.');
            } else {
                noSleep.disable();
                showMessage('Device will sleep.');
            }

            if (document.documentElement.requestFullscreen && document.exitFullscreen) {
                if (!document.fullscreenElement && document.documentElement.requestFullscreen) {
                    document.documentElement.requestFullscreen();
                } else {
                    document.exitFullscreen();
                }
            }
        }

        function throttle(func, wait) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                if (!timeout) {
                    timeout = setTimeout(function() {
                        timeout = null;
                        func.apply(context, args);
                    }, wait);
                }
            };
        }

        function showMessage(text) {
            var msg = document.getElementById("message");
            msg.className = "show";
            msg.innerHTML = text;
            setTimeout(function(){ msg.className = msg.className.replace("show", ""); }, 3000);
        }
    </script>
</body>
</html>
